.container-accordion {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}
.accordion {
    width: 100%;
    height: auto;
    padding: 15px;
    background: $corPrimaria;
    margin-bottom: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: $bordaRedonda;
    &__cidade {
        width: auto;
        height: auto;
        position: relative;
        margin-right: auto;
        color: #fff;
        display: block;
    }
}
.accordion-filho {
    display: none;
    padding: 15px;
    margin-bottom: 0;
    background: #f1f1f1;
    margin-top: -4px;
    &:nth-child(2n+2) {
       background: #f8f8f8;
   }
    &__link {
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: left;
        @media screen and (min-width: 768px) {
            margin-top: auto;
            margin-bottom: auto;
            text-align: right;
        }
    }
}
.seta-baixo {
    &:before {
        content: "";
        display: block;
        margin-left: auto;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        transition: all .5s;
    }
    &--ativo {
        &:before {
            transform: rotate(180deg);
        }
    }
}