.botao-padrao {
    width: auto;
    height: auto;
    position: relative;
    padding: 7px 10px;
    background: none;
    border: solid 1px;
    cursor: pointer;
    margin-right: 15px;
    display: inline-block;
    //border-radius: 100px;
    &--branco {
        border-color: #fff;
        color: #fff;
        transition: all .5s;
        &:hover {
            border-color: #F8D40B;
            color: #F8D40B;
        }
    }
    &--preto {
        border-color: $corPrimaria;
        color: $corPrimaria;
        transition: all .5s;
        &:hover {
            border-color: #000;
            color: #000;
        }
    }
    &--desabilitado {
        border-color: #9A9999;
        color: #9A9999;
        transition: all .5s;
        &:hover {
            border-color: #000;
            color: #000;
        }
    }
    &--ativo {
        border-color: #000 !important;
        color: #000 !important;
    }
}