.container-filmes {
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
}
.card-filme {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    margin: 0 0 25px 0;
    padding: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    @media screen and (min-width: 768px) {
        background: #fff;
        margin: 0;
    }
    &:hover {
        @media screen and (min-width: 768px) {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    }
    &__container {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
    }
    &__conteudo {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 0;
        padding: 20px;
        background: #fff;
        @media scree and (min: 768px) {
            background: none;
        }
        h3 {
            font-size: 16px;
            color: $corPrimaria;
            font-weight: 400;
        }
    }
    &__thumb {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        img {
            width: 100%;
            height: auto;
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
    .selo {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
}