.card-filme {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    &__conteudo {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 0;
        padding: 20px;
    }
    &__thumb {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        img {
            width: 100%;
            height: auto;
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
}