.card-filme {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &__container {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
    }
    &__conteudo {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 0;
        padding: 20px;
        background: #fff;
        h3 {
            font-size: 22px;
            color: $corPrimaria;
        }
    }
    &__thumb {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        img {
            width: 100%;
            height: auto;
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
    .selo {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
}