.container-filmes {
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
}
.card-filme {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    margin: 0 0 25px 0;
    padding: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: $bordaRedonda;
    @media screen and (min-width: 768px) {
        background: #fff;
        margin: 0;
    }
    &__container {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
    }
    &__conteudo {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        margin: 0;
        padding: 10px 20px;
        background: rgba(0, 0, 0, .7);
        border-bottom-left-radius: $bordaRedonda;
        border-bottom-right-radius: $bordaRedonda;
        bottom: 0;
        @media scree and (min: 768px) {
            background: none;
        }
        h3 {
            font-size: 16px;
            color: #fff;
            font-weight: 400;
        }
    }
    &__thumb {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-radius: $bordaRedonda;
        &-filho {
            width: 100%;
            height: auto;
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            background-position: center;
            background-repeat: none;
            background-size: 100% auto;
            transition: all .2s cubic-bezier(.25,.8,.25,1);
            overflow: hidden;
            border-radius: $bordaRedonda;
            img {
                width: 100%;
                height: auto;
                position: relative;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: $bordaRedonda;
                opacity: 0;
            }
        }
    }
    &:hover {
        .card-filme__thumb-filho {
            -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
            -o-filter: blur(3px);
            -ms-filter: blur(3px);
            filter: blur(3px);
            background-size: 105% auto;
        }
        @media screen and (min-width: 768px) {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    }
    .selo {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        border-top-right-radius: $bordaRedonda;
        border-bottom-left-radius: $bordaRedonda;
    }
}