/* Contact Form 7 */
.wpcf7-submit {
    width: auto;
    height: auto;
    position: relative;
    padding: 7px 10px;
    background: none;
    border: solid 1px;
    cursor: pointer;
    margin-right: 15px;
    border-color: #fff;
    color: #fff;
    transition: all .5s;
    float: right;
    &:hover {
        border-color: #F8D40B;
        color: #F8D40B;
    }
}
.wpcf7-text, .wpcf7-textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}