/* Contact Form 7 */
.wpcf7-submit {
    width: auto;
    height: auto;
    position: relative;
    padding: 7px 10px;
    background: none;
    border: solid 1px;
    cursor: pointer;
    margin-right: 15px;
    border-color: #fff;
    color: #fff;
    transition: all .5s;
    float: right;
    border-radius: 4px;
    &:hover {
        border-color: $corHover;
        color: $corHover;
    }
}
.wpcf7-text, .wpcf7-textarea {
    width: 100%;
    padding: 10px;
    background: none;
    border: 0;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    color: #fff;
    transition: all .5s;
    &:focus {
        outline: 0;
        border-color: $corHover;
    }
}
// Mesangens do Formulário de contato
.wpcf7-mail-sent-ok {
    background: #32D272;
    border: 0;
    color: #fff;
}
.wpcf7-validation-errors {
    background: $corHover;
    border: 0;
}
.div.wpcf7-mail-sent-ok {
    border: 0;
}