.header {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 10;
    align-items: center;
    box-sizing: border-box;
    padding: 0 25px;
    transition: all .5s;
}
.logo {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    left: 0;
    top: 10px;
    margin-right: auto;
    align-self: flex-start;
    z-index: 12;
    svg {
        position: relative;
        display: block;
        margin: 0;
        top: 0;
        max-width: 60px;
        height: auto;
    }
    img {
        max-width: 100px;
    }
}
.logo-fundo {
    width: 260px;
    height: 260px;
    position: absolute;
    top: -130px;
    left: -130px;
    background: #000;
    border-radius: 1000px;
    z-index: 11;
}