.header {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    background: #000;
    z-index: 10;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 25px;
    transition: all .5s;
}
.logo {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    left: 0;
    margin-right: auto;
    align-self: flex-start;
    z-index: 12;
    svg {
        position: relative;
        display: block;
        margin: 0;
        top: 0;
        max-width: 60px;
        height: auto;
    }
    img {
        max-width: 45px;
        @media screen and (min-width: 768px) {
            max-width: 70px;
        }
    }
}
.logo-fundo {
    width: 260px;
    height: 260px;
    position: absolute;
    top: -130px;
    left: -130px;
    background: #000;
    border-radius: 1000px;
    z-index: 11;
}