.hero {
    width: 100%;
    height: 90%;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    &__conteudo {
        max-width: 475px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        z-index: 3;
        padding: 25px;
    }
}

.video-bg-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    z-index: 1;
    &__video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        z-index: 1;
    }
    &__escurece {
        width: 80%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background: rgba(0,0,0,1);
        background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
        background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    }

}