#menuToggle
{
  display: block;
  position: relative;
  top: 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #fff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -20px);
  background: #fff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, 18px);
}
.menu {
  display: none;
  @media screen and (min-width: 768px) {
    position: relative;
    top: 8px;
    display: block;
  }
}
.snip1135 * {
    box-sizing: border-box;
  }
  .snip1135 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
  }
  .snip1135 a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0.5em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .snip1135 a:before,
  .snip1135 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1135 a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #fff;
  }
  .snip1135 a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
  }
  .snip1135 a:hover:before,
  .snip1135 .current_page_item a:before,
  .snip1135 .current-menu-item a:before {
    opacity: 1;
    width: 100%;
  }
  .snip1135 a:hover:after,
  .snip1135 .current_page_item a:after,
  .snip1135 .current-menu-item a:after {
    max-width: 100%;
  }

// Classe toggle no menu.js para o mobile
.menu-mobile-ativo {
	width: 100%;
	height: calc(100% - 60px);
	display: flex;
	position: fixed;
	background: #fff;
	z-index: 9;
	top: 60px;
	left: 0;
	align-items: center;
	.snip1135 {
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.snip1135 li {
		width: 100%;
		display: block;
		list-style: outside none none;
		margin: 0 0 20px 0;
		padding: 0;
		text-align: center;
		a {
			font-size: 30px;
			width: 100%;
			text-align: center;
			display: block;
			color: $corPrimaria;
		}
	}
}