#mc_embed_signup {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px;
    background: none;
    margin-bottom: 25px;
}
#mc_embed_signup form {
    padding: 0;
}
#mc_embed_signup input.email {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 18px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: $corPrimaria;
    background-color: #fff;
    box-sizing: border-box;
    padding: 22px;
    display: inline-block;
    margin: 0;
    width: 100%;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    &:focus, &:hover {
        outline: 0;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        width: 350px;
    }
}
#mc-embedded-subscribe {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    &:focus, &:hover {
        outline: 0;
    }
}