.titulo {
    &--hero {
        font-size: 50px;
        color: #fff;
        @media screen and (min-width: 768px) {
            font-size: 70px;
            text-align: left;
        }
    }
    // Caso para quando o título for muito grande
    &--hero_menor {
        font-size: 40px;
        color: #fff;
        @media screen and (min-width: 768px) {
            font-size: 50px;
            text-align: left;
        }
    }
}
.subtitulo {
    &--hero {
        font-size: 18px;
        color: #fff;
        @media screen and (min-width: 768px) {
            font-size: 22px;
        }
    }
    &--pagina-inicial-filmes {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 40px;
    }
    &--time {
        font-size: 32px;
        margin: 20px auto;
        width: 100%;
        text-align: center;
        @media screen and (min-width: 768px) {
            font-size: 45px;
        }
    }
}
/**
 * Classe para o título de filmes da home
 */
.container-home-titulo-filmes {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
}