.titulo {
    &--hero {
        font-size: 50px;
        color: #fff;
        @media screen and (min-width: 768px) {
            font-size: 70px;
            text-align: left;
        }
    }
    // Caso para quando o título for muito grande
    &--hero_menor {
        font-size: 40px;
        color: #fff;
        @media screen and (min-width: 768px) {
            font-size: 50px;
            text-align: left;
        }
    }
}
.subtitulo {
    &--hero {
        font-size: 18px;
        color: #fff;
        @media screen and (min-width: 768px) {
            font-size: 22px;
        }
    }
}