.overlay-trailer {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background: $corPrimaria;
    z-index: 4;
    &--ativo {
        display: block;
    }
    &__carrega-video {
        max-width: 700px;
        height: auto;
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}
.fechar-overlay {
    position: fixed;
    top: 60px;
    right: 20px;
    background: none;
    padding: 20px;
    border: 0;
    color: #fff;
    z-index: 7;
}