/**
 * Config
 */
 @import "config";

 /**
  * Bootstrap
  */
  @import "./node_modules/bootstrap/scss/bootstrap-reboot";
  @import "./node_modules/bootstrap/scss/bootstrap-grid";

  /**
  * Base
  */
 @import "base/resets";
 @import "base/variaveis";
 @import "base/tipografia";
 @import "base/grid";

 /**
  * Compoentes
  */
@import "componentes/videos";
@import "componentes/carregando";
@import "componentes/hero";
@import "componentes/selos";
@import "componentes/titulos";
@import "componentes/botoes";
@import "componentes/card-filmes";
@import "componentes/distribua-filmes";
@import "componentes/overlay-trailer";
@import "componentes/header";
@import "componentes/menu";
@import "componentes/accordion";
@import "componentes/formularios";
@import "componentes/newsletter";

/**
 * Layout
 */
@import "layout/footer";
@import "layout/filtros";
@import "layout/post-filmes";
@import "layout/sobre";
@import "layout/contato";