/**
 * Config
 */
 @import "config";

 /**
  * Bootstrap
  */
  @import "./node_modules/bootstrap/scss/bootstrap-reboot";
  @import "./node_modules/bootstrap/scss/bootstrap-grid";

  /**
  * Base
  */
 @import "base/resets";
 @import "base/variaveis";
 @import "base/tipografia";
 @import "base/grid";

 /**
  * Compoentes
  */
@import "componentes/videos";
@import "componentes/hero";
@import "componentes/selos";
@import "componentes/titulos";
@import "componentes/botoes";