body {
    background-color: $corFundo;
}
.container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto 25px auto;
    &--max {
        max-width: 1110px;
    }
    &--margin-top {
        margin: 90px auto 25px auto;
    }
}
.logged-in {
    margin-top: 30px;
    .header-logado {
        top: 30px;
    }
}