//Cores

// Cor que vai nos textos e partes com Bg escuro no tema
$corPrimaria: #393939;

// Cores dos selos em selos.scss
$cartaz: #F75C5C;
$embreve: #72C482;
$catalogo: #EAAC37;
// Cor do BG em grid.scss
$corFundo: #DEDBDB;

//Cor que vai nos hover
$corHover: #16AEF2;
$corHoverEscuro: #16AEF2;

// Tipografia
$fonteTexto: 'Open Sans', sans-serif;
$fonteTitulos: 'Montserrat', sans-serif;

$bordaRedonda: 8px;