.filtros {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto 25px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    .botao-padrao {
        margin-bottom: 12px;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
    }
    &__titulo {
        margin-right: 25px;
    }
}
// Filtros na versão mobile
.accordion-filtros {
    margin-bottom: 25px;
    .accordion {
        margin-bottom: 0;
        border-radius: $bordaRedonda;
    }
    .botao-padrao {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}
.botao-limpar-filtros-mobile {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}