.titulo-informacoes {
    font-size: 22px;
    margin: 40px 0;
    @media screen and (min-width: 768px) {
        font-size: 45px;
        margin: 40px 0;
    }
}
.post-filme-cartaz {
    margin-bottom: 25px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }
}
.sinopse-do-filme {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0 0 25px 0;
}
.compartilhar-filme {
    &__titulo {
        width: 100%;
        margin-bottom: 8px;
        display: block;
        font-size: 12px;
    }
}
.container-imagens-filme {
    margin-top: 30px;
    &__cols {
        margin-bottom: 15px;
        img {
            width: 100%;
        }
    }
    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background: rgba(0, 0, 0, .5);
        display: flex;
        -webkit-transition: all 2s;
        transition: all .4s;
        opacity: 0;
        align-items: center;
        justify-items: center;
        text-align: center;
        img {
            display: inline-block;
            position: relative;
            max-width: 35px;
            margin: 0 auto;
        }
    }
    &__link {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        &:hover {
            .container-imagens-filme__overlay {
                opacity: 1;
            }
        }
    }
}
.link-assista-em-casa {
    margin-bottom: 10px;
}