.socios {
    @media screen and (min-width: 768px) {
        padding: 0 40px;
    }
    a {
        color: $corPrimaria;
    }
    &__foto {
        margin: 0 auto 15px auto;
        max-width: 250px;
        border-radius: 800px;
        padding: 0;
        img {
            max-width: 100%;
            height: auto;
            position: relative;
            display: block;
            border-radius: 800px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
    &__titulo {
        margin: 10px 0 4px 0;
        h3 {
            width: 100%;
            position: relative;
            display: block;
            text-align: center;
            font-size: 22px;
            padding: 0;
            margin: 0;
        }
    }
    &__descricao {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        padding: 0;
        margin: 0;
        p {
            text-align: center;
        }
    }
}